#about {
  .title-about {
    h1 {
      font-size: 4.2rem;
      color: $orange;
      margin: 2.5rem 0;
    }

    img {
      margin: 1rem 0;
    }

    p {
      text-align: left;
      line-height: 2.9rem;
    }
  }


  .aside {
    margin-top: 1rem;

    @media(min-width: $md) {
      & {
        margin-top: 3rem;
      }

    }

    h3 {
      font-size: 1.3rem;
      margin-bottom: 30px;
      color: $orange;
    }

    .posts {
      border-bottom: 1px solid $light-grey;


      ul {
        text-align: left;
        margin-bottom: 1.5rem;

        a {
          color: $black;
          font-size: 1.1rem;
        }

        a:hover {
          color: $orange;

        }
      }
    }

    .categories {


      ul {
        text-align: left;
        margin-bottom: 1.5rem;

        a {
          color: $black;
          font-size: 1.1rem;
        }

        a:hover {
          color: $orange;

        }
      }
    }
  }
}

#lessons {
  margin-bottom: 2rem;

  .title-lessons {
    h1 {
      font-size: 3.8rem;
      color: $orange;
      margin: 2.5rem 0;
    }
  }

  .lessons-img {
    padding: 3px 3px;

    .gradient {
      position: relative;
      max-height: 350px;

      @media(min-width: $md) {
        &::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7147233893557423) 79%);
        }
      }

      img {
        width: 100%;
        height: 70vw;
        max-height: 350px;
        object-fit: cover;

      }


    }

    .subtitle {

      @media(min-width: $md) {
        & {
          text-align: left;
          position: absolute;
          bottom: 10px;
        }
      }

      h2 {
        font-size: 2.5rem;

        @media(min-width: $md) {
          & {
            margin-left: 10px;
            color: $white;
          }
        }

      }

      h3 {
        font-size: 1.3rem;
        font-family: sans-serif;

        @media(min-width: $md) {
          & {
            color: $orange;
            margin-left: 10px;
          }
        }

      }
    }
  }
}

#gallery {

  .gallery-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);

    .gallery-img {
      padding: 0;
      background: red;


      &:nth-child(0n+4), &:nth-child(0n+6) {

        a {

          img {
            height: 750px;

          }
        }
      }


      a {

        img {
          width: 350px;
          height: 350px;
          object-fit: cover;

        }
      }
    }

  }
}

#modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  h3 {
    color: $white;
    font-size: 3rem;
    text-align: center;
    margin: 15px 0;

  }

  .image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(0n+2) {


      a {
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
      }

    }

    a {
      color: $white;
      font-size: 40px;
      margin: 0 10px;

      img {
        height: 95%;
        max-width: 100%;
        border: 7px solid white;
        box-sizing: border-box;
        object-fit: cover;
      }
    }
  }

  .close {
    display: block;
    background: white;
    width: 28px;
    height: 28px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    color: black;
    padding: 5px;
    border-radius: 50%;
    line-height: 11px;

  }


}