$orange: #ff5b00;
$dark-gray: #2f2e2e;
$light-grey: #ebebeb;
$white: #ffffff;
$black: #000000;
$main-source:'Staatliches', cursive;
$font-default: 'Open Sans', sans-serif;
$secondary-source: 'Raleway', sans-serif;

$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
